.page__start {
  display: grid;
  grid-template-rows: min-content auto;

  font-size: 5vmin;

  overflow-y: auto;
}

.start-form {
  display: grid;
  margin: auto;
  margin-top: 0;
}

.start-form {
  label {
    margin-top: 1em;
  }
  input {
    margin-top: 0.5em;
  }
  button {
    margin-top: 2em;
  }
}

h1 {
  text-align: center;
  place-self: center;

  font-size: 1.5em;

  margin: 1em;
}

.install-info, .install-event-outcome {
  box-sizing: content-box;

  display: flex;
  grid-gap: 1em;

  max-width: 16em;

  margin-top: 2em;

  justify-self: center;

  font-size: 0.8em;
}

.install-info button {
  justify-self: center;
  margin-top: 0;
  margin-left: 1em;
  align-self: center;
}

.start-form__n-players-wrapper {
  display: flex;
  flex-wrap: wrap;
  display: grid;

  grid-column-gap: 1em;

  grid-template-columns: repeat(3, 1fr);

  font-size: 1.5em;
}

.start-form_n-players-item-wrapper {
  height: 2em;
  display: flex;

  input[type="radio"] {
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
  }

  label {
    margin: auto;
    padding: 0.5em;
    margin-left: 0;
    margin-right: 0;
  }
}