.turn-menu__complete-turn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.turn-menu__toggle-history {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
