.page__start {
  display: grid;
  grid-template-rows: min-content auto;

  font-size: 3.5vmin;

  overflow-y: auto;
}

.start-form {
  display: grid;
  margin: auto;
  margin-top: 0;
}

.start-form {
  label {
    margin-top: 1em;
  }
  input {
    margin-top: 0.5em;
  }
  button {
    margin-top: 2em;
  }
}

h1 {
  text-align: center;
  place-self: center;

  font-size: 1.5em;

  margin: 1em;
}

.install-info, .install-event-outcome {
  box-sizing: content-box;

  display: flex;
  grid-gap: 1em;

  max-width: 16em;

  margin-top: 2em;

  justify-self: center;

  font-size: 0.8em;
}

.install-info button {
  justify-self: center;
  margin-top: 0;
  margin-left: 1em;
  align-self: center;
}
