button, input {
  font-family: inherit;
  font-size: inherit;
  border-color: #ddd;
  border-style: solid;

  padding: 0.5em;

  background-color: inherit;
  color: inherit;
}

button {
  border-radius: 0.8em;
}

player-controller::part(button) {

  color: #ddd;

  border-color: #ddd;
  border-style: solid;
  border-width: 2px;

  background-color: inherit;
  
}

player-controller::part(text-button) {
  color: #ddd;
}
