:root {
  --button-background-color: #483542;

  --button-border-color: #ddd;
  --button-border-width: 0.15em;
  --button-border-style: solid;

  --button-text-color: inherit;
}

button, input {
  font-family: inherit;
  font-size: inherit;
  border-color: var(--button-border-color);
  border-style: var(--button-border-style);
  border-width: var(--button-border-width);

  padding: 0.5em;

  background-color: var(--button-background-color);
  color: var(--button-text-color);
}

button {
  border-radius: 0.8em;
}
