:root {
  --damage-color: #e25e5e;
  --recovery-color: #64c564;

  --primary-action-color: #7b1d1d;
}

html {
  font-family: Audiowide, sans-serif;
  font-size: 2.8vmax;

  overflow-x: hidden;
  overflow-y: hidden;
}

/*
 * This is to make sure the font size scales
 * reasonably at smaller widths and heights
 * but so that it also scales reasonably at
 * larger sizes.
 */
@media (min-aspect-ratio: 2/1), (max-aspect-ratio: 1/2) {
  html {
    font-size: 5.4vmin;
  }
}

body {
  width: 100%;
  height: 100vh;
  max-width: 100%;
  max-height: 100vh;

  overflow-x: hidden;
  overflow-y: hidden;

  background-color: #483542;
  background-image: url('/images/galaxy-background.jpg');
  background-position: center;
  background-size: cover;
  color: #ddd;
}

.wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;

  background-color: rgba(0, 0, 0, 0.4);
}
